azure-identity
chromadb
fastapi
ipython
langchain-anthropic
langchain-aws
langchain-chroma
langchain-community
langchain-core
langchain-google-vertexai
langchain-experimental
langchain-openai
langgraph
langgraph-cli[inmem]
langgraph-sdk
langgraph-supervisor
langgraph-checkpoint-sqlite
langsmith>=0.2.0
lxml
notebook
pandas
protobuf>=3.20.3
pyarrow
pyppeteer
python-dotenv
openai
openevals
scikit-learn
tavily-python
uvicorn
wikipedia
