azure-identity
chromadb
fastapi
httpx
ipython
langchain-anthropic
langchain-aws
langchain-chroma
langchain-community
langchain-core
langchain-google-vertexai
langchain-experimental
langchain-openai
langgraph
langgraph-cli[inmem]
langgraph-sdk
langgraph-supervisor
langgraph-checkpoint-sqlite
langsmith>=0.2.0
lxml
notebook
pandas
protobuf>=3.20.3
pyarrow
pydantic
pydantic-settings
pyppeteer
pytest
pytest-asyncio
python-dotenv
openai
openevals
scikit-learn
tavily-python
uvicorn
wikipedia
